<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>log out</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="content">
            <div class="grids">
                <div class="grid box">
                    <div class="grid-header">
                        <h3>
                            <h3>you have been logged out successfully</h3>
                            <li><a href="{% url 'accounts:login' %}">login</a></li>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>